

.mat-expansion-panel-header-description{
    display: flex;
  flex-direction: row-reverse;
}

button{
    margin-right:5px;
    line-height: 28px;
}
:host .row{
    display: block;
}
.mat-expansion-panel-header-title{
    color:black !important
}
.right{
    float: right
}

::ng-deep mat-list-item .mat-list-item-content{
    display: block !important;
}

:host  ::ng-deep .mat-list-item{
    height:35px !important;
}

